.question {
  display: flex;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 1000px;
  border: 2px solid rgb(99, 211, 255);
  border-radius: 10px;
}

.option {
  /* display: ; */
  border: 2px solid rgb(99, 211, 255);
  width: 500px;
  margin: 8px;
  height: 25px;
}

h3 {
  /* margin: 20px; */
  padding-left: 20px;
}
