body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-spacing: 1em;
  margin: 1rem auto;
  border-collapse: separate;
}
td {
  height: 100px;
  width: 100px;
  padding: 1rem 1.2rem;
  border-radius: 6px;
  border: 1px solid black;
}
